
---

import Layout from "../layouts/Layout.astro";

//components
import Collection from "../components/landing/collection.astro";
import Contact from "../components/landing/contact.astro";
import Hero from "../components/landing/hero.astro";
import More from "../components/landing/more.astro";
import Our from "../components/landing/our.astro";

---

<Layout title="Home">

    <main>

        <Hero/>
        <Collection/>
        <More/>
        <Our/>
        <Contact/>
        
    </main>

</Layout>
